body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

.input-container {
  display: flex;
  flex-wrap: wrap; /* Wrap items to next line if necessary */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Distribute items evenly */
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px; /* Add space between input and button */
}

.input-container span {
  font-size: 20px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.output-container {
  margin-top: 20px;
}

#output, #uniqueOutput {
  margin-bottom: 10px;
  font-size: 18px;
}

#copyButton, #removeSameDigitButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%; /* Take up full width */
  margin-bottom: 30px; /* Add space between buttons */
}

#removeSameDigitButton {
  background-color: red;
}

@media only screen and (max-width: 600px) {
  .input-container {
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items to full width */
  }

  .input-container input[type="text"] {
    margin-right: 0; /* Remove right margin for input on mobile */
  }
}
