body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  flex: 1;
  margin-right: 10px;
}

.input-container span {
  font-size: 20px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.output-container {
  margin-top: 20px;
}

#output, #uniqueOutput {
  margin-bottom: 10px;
  font-size: 18px;
}

#copyButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin: 30 auto;
}

#removeSameDigitButton{
 background-color: red;
 color: white;
 border: none;
 padding: 10px;
 margin: 100px;
 cursor: pointer;
 display: block;
 margin: 0 auto;

}
